 
<h1>My cart :</h1>

<ng-container *ngIf="orders.length > 0">
    <div *ngIf="totalItems > itemsPerPage">
        <button (click)="prevPage()"><</button>
        Page : {{currentPage}}/{{totalPages}}
        <button (click)="nextPage()">></button>
    </div>
    
    <table class="w-full mt-4 border-collapse border border-[#533619]">
        <thead>
          <tr>
            <th class="border border-[#533619] p-2">Product</th>
            <th class="border border-[#533619] p-2">Qty</th>
            <th class="border border-[#533619] p-2">Buy</th>
            <th class="border border-[#533619] p-2">Delete</th>
            <th class="border border-[#533619] p-2">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of paginatedOrders">
            <td class="border border-[#533619] p-2">{{ getFoodName(order.foodId) }}</td>
            <td class="border border-[#533619] p-2">{{ order.qty }}</td>
            <td class="border border-[#533619] p-2">
              <button [routerLink]="['/cart', order.id, 'buy']">Buy</button>
            </td>
            <td class="border border-[#533619] p-2">
              <button (click)="deleteOrder(order.id)">Delete</button>
            </td>
            <td class="border border-[#533619] p-2">{{ getFoodPrice(order.foodId) | price : "€" }}</td>
          </tr>
        </tbody>
      </table>
    
    <div *ngIf="totalItems > itemsPerPage">
      <button (click)="prevPage()"><</button>
      Page : {{currentPage}}/{{totalPages}}
      <button (click)="nextPage()">></button>
    </div>
      
    <app-dialog [message]="dialogMessage" [showDialog]="showDialog" (closeDialog)="closeDialog()"></app-dialog>
</ng-container>

<ng-container *ngIf="orders.length==0">
<p>You have nothing to add to your cart</p>
</ng-container>