<footer class="bg-custom-secondary_color text-white py-2 px-5 flex justify-between fixed bottom-0 w-full">
    <div class="flex-1">
      <p class="text-xl font-bold">Contacter nous</p>
      <p class="text-base">Tel : 007</p>
      <p class="text-base">Mail : lakojary&commat;gmail.com</p>
    </div>
  
    <div class="flex items-center">
      <img src="../../../assets/logo_website.png" alt="Website Logo" class="w-[6rem] h-[5rem]">
      <img src="../../../assets/icon_copyright.png" alt="Copyright Icon" class="w-[1rem] h-[1rem]">
    </div>
  
  </footer>