.something{
    width: 100%;
    background-color: #533619;
}

.nav_container{
    margin: 0;
    padding: 0;
}


.navbar{
 height: 8vh ;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content:right;
 background-color: #533619;
}

.navbar ul a{
    list-style: none;
    text-decoration: none;
    font-weight: 800;
    color: white;
    border: solid #F5DF04 2px;
    margin: 0rem 3rem 0 0; /*top right bottom left*/ 
}

.navbar li{
    display: inline-block;
    position: relative;
}

.nav_menu{
    color: black;
    display: flex;
    text-align:  center;
    font-weight: lighter;
    font-size: 25px;
}

.nav_menu:hover ul a{
    background-color: red;
}