<header class="bg-custom-secondary_color">
  <nav class="container mx-auto px-4 py-2 flex items-center justify-between">
    <img class="w-[4rem] h-[3.5rem] p-0" src="../../../assets/logo_website.png">
    <ul class="flex space-x-4">
        <li><a href="" class="text-white hover:text-custom-hover_effect text-xl hover:font-bold">Home</a></li>
        <li><a routerLink="our-products" class="text-white hover:text-custom-hover_effect text-xl hover:font-bold">Our products</a></li>
        <li><a href="#" class="text-white hover:text-custom-hover_effect text-xl hover:font-bold">Contact</a></li>
        <li *ngIf="userRole == 'admin'"><a routerLink="" class="text-white hover:text-custom-hover_effect text-xl hover:font-bold">Ingredients</a></li>
        <li *ngIf="!userRole"><a routerLink="login" class="text-white hover:text-custom-hover_effect text-xl hover:font-bold">Login</a></li>
        <li *ngIf="userRole"><a routerLink="profil" class="text-white hover:text-custom-hover_effect text-xl hover:font-bold">Profil</a></li>
    </ul>
  </nav>
</header>

