<div class="flex items-center justify-center bg-cover bg-center bg-no-repeat h-[30rem]" style="background-image: url('../../../assets/bk-image.png');">
    <div class="text-center">
      <p class="text-white text-8xl font-bold mb-10">Your online bakery</p>
      <p class="text-white text-2xl mb-10">We deliver your favorite pastries directly to your home</p>
      <div class="flex justify-center">
        <p class="text-white text-2xl font-semibold py-2 px-4 bg-custom-hover_effect border-4 border-custom-hover_effect rounded-full hover:bg-custom-primary_color hover:text-custom-hover_effect duration-300 cursor-pointer w-[20rem]">
          Order Now
        </p>
      </div>
    </div>
  </div>