<h1>Our products :</h1>

Search <input class="w-80 h-7 border-2 border-[#533619] rounded bg-transparent p-2 placeholder-[#533619] focus:outline-none" type="text" [(ngModel)]="searchQuery" placeholder="Search a product" (input)="filterFoods()">
<button *ngIf="userRole == 'admin'" routerLink="/our-products/add">Add</button>

<div *ngIf="totalItems > itemsPerPage">
    <button (click)="prevPage()"><</button>
    Page : {{currentPage}}/{{totalPages}}
    <button (click)="nextPage()">></button>
</div>

<div class="food-grid">
    <app-food-card *ngFor="let food of paginatedFoods" [food]="food"></app-food-card>
</div>

<div *ngIf="totalItems > itemsPerPage">
  <button (click)="prevPage()"><</button>
  Page : {{currentPage}}/{{totalPages}}
  <button (click)="nextPage()">></button>
</div>
  