<div class="flex items-center justify-center mt-8 mb-2">
  <div class="w-full">
    <h1 class="text-3xl font-bold text-white pl-2">Ingredients :</h1>
    <div class="mt-4 pl-2">
      Search <input class="w-80 h-10 border-2 border-custom-secondary_color rounded bg-transparent text-white placeholder-custom-secondary_color focus:outline-none px-2" type="text" [(ngModel)]="searchQuery" placeholder="Search an ingredient" (input)="filterIngredients()">
      <button routerLink="/ingredients/add" class="ml-2 px-4 py-2 bg-custom-secondary_color text-white rounded hover:bg-opacity-75 focus:outline-none">Add</button>
    </div>

    <div class="flex items-center justify-between mt-4 pl-2">
      <div *ngIf="totalItems > itemsPerPage">
        <button (click)="prevPage()" class="px-4 py-2 bg-custom-secondary_color text-white rounded hover:bg-opacity-75 focus:outline-none">←</button>
        <span class="text-white">Page : {{currentPage}}/{{totalPages}}</span>
        <button (click)="nextPage()" class="px-4 py-2 bg-custom-secondary_color text-white rounded hover:bg-opacity-75 focus:outline-none">→</button>
      </div>
    </div>

    <table class="w-full mt-4 border-collapse">
      <thead>
        <tr>
          <th class="p-2 text-white">Name</th>
          <th class="p-2 text-white">Stock</th>
          <th class="p-2 text-white">Modify</th>
          <th class="p-2 text-white">Delete</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let ingredient of paginatedIngredients; let i = index">
          <tr class="{{ i % 2 === 0 ? 'bg-custom-secondary_color' : 'bg-custom-primary' }}">
            <td class=" p-2 text-white text-center">{{ ingredient.name }}</td>
            <td class=" p-2 text-white text-center">{{ ingredient.stock }}</td>
            <td class="p-2 text-white flex items-center justify-center">
              <button [routerLink]="['/ingredients', ingredient.id, 'edit']" class="px-4 py-2 bg-custom-secondary_color text-white rounded hover:bg-opacity-75 focus:outline-none">Modify</button>
            </td>
            <td class="p-2 text-white">
              <button (click)="deleteIngredient(ingredient.id)" class="px-4 py-2 bg-[#533619] text-white rounded hover:bg-opacity-75 focus:outline-none">Delete</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <div class="flex items-center justify-between mt-4 pl-2 mb-[2rem]">
      <div *ngIf="totalItems > itemsPerPage">
        <button (click)="prevPage()" class="px-4 py-2 bg-custom-secondary_color text-white rounded hover:bg-opacity-75 focus:outline-none">←</button>
        <span class="text-white">Page : {{currentPage}}/{{totalPages}}</span>
        <button (click)="nextPage()" class="px-4 py-2 bg-custom-secondary_color text-white rounded hover:bg-opacity-75 focus:outline-none">→</button>
      </div>
    </div>
  </div>
</div>
<app-dialog [message]="dialogMessage" [showDialog]="showDialog" (closeDialog)="closeDialog()"></app-dialog>
