<h1>Adding ingredient</h1>
<form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">

    <div class="mb-4">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" formControlName="name" style="background-color: white; color: black; width: 100%; padding: 8px;">
        <div *ngIf="ingredientForm.get('name')?.invalid && ingredientForm.get('name')?.touched">
            <small *ngIf="ingredientForm.get('name')?.errors?.['required']" class="text-red-500 font-bold">Name is required.</small>
        </div>
    </div>

    <div class="mb-4">
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" formControlName="stock" style="background-color: white; color: black; width: 100%; padding: 8px;">
        <div *ngIf="ingredientForm.get('stock')?.invalid && ingredientForm.get('stock')?.touched">
            <small *ngIf="ingredientForm.get('stock')?.errors?.['required']" class="text-red-500 font-bold">Stock is required.</small>
            <small *ngIf="ingredientForm.get('stock')?.errors?.['pattern']" class="text-red-500 font-bold">Stock must be an integer.</small>
            <small *ngIf="ingredientForm.get('stock')?.errors?.['min']" class="text-red-500 font-bold">Minimum stock is 0.</small>
            <small *ngIf="ingredientForm.get('stock')?.errors?.['max']" class="text-red-500 font-bold">Maximum stock is 10000.</small>
        </div>
    </div>

    <button type="submit">Add</button>
</form>

<app-dialog [message]="dialogMessage" [showDialog]="showDialog" (closeDialog)="closeDialog()"></app-dialog>
<app-redirection-dialog [message]="dialogMessage" [showRedirectionDialog]="showRedirectionDialog" [redirectUrl]="'/ingredients'" (closeRedictionDialog)="closeRedirectionDialog()"></app-redirection-dialog>
